{
  "extends": ["xo/esnext"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "env": {
    "jest": true
  },
  "rules": {
    "capitalized-comments": 0,
    "eol-last": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "new-cap": [2, {"capIsNew": false}],
    "no-await-in-loop": 0,
    "no-constant-condition": [2, {"checkLoops": false}],
    "no-mixed-operators": 0,
    "no-multiple-empty-lines": 0,
    "no-negated-condition": 0,
    "no-return-await": 0,
    "no-trailing-spaces": 0,
    "no-unused-vars": [2, {"ignoreRestSiblings": true, "argsIgnorePattern": "^_"}],
    "no-warning-comments": 0,
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "prefer-destructuring": 0,
    "require-await": 0
  }
}
